# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
backend/venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Django
db.sqlite3
media/
staticfiles/
backend/staticfiles/
backend/bon_gout/ssl/

# Node
node_modules/
build/
bon-gout/build/
.eslintcache

# Logs
*.log